<section class="adventure">
  <div class="adventure-container container">
    <h2 class="adventure-title title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </h2>
    <h3 class="adventure-text text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam aut neque
      accusamus assumenda, eveniet perspiciatis!
    </h3>
    <p class="adventure-discription text-mini">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit veritatis
      iusto numquam alias, placeat eaque at fugit doloribus ipsa quaerat.
    </p>
    <img
      class="adventure-img"
      src="/src/img/vite-logo.png"
      alt="logo"
      width="100"
      height="100"
    />
  </div>
</section>
