<section class="castomers">
  <div class="castomers-container">
    <h2 class="castomers-title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit enim vitae
      minus est?
    </h2>
    <p class="castomers-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus vel
      ex autem aut doloribus mollitia alias laboriosam ducimus voluptatum velit?
    </p>
    <ul class="castomers-list">
      <li class="castomers-item">
        <img class="castomers-img" src="" alt="" />
        <h4 class="castomers-item-name">Lorem, ipsum.</h4>
        <p class="castomers-item-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          quibusdam perspiciatis consequuntur fuga mollitia iste magnam ad sit
          quis nam.
        </p>
      </li>
      <li class="castomers-item">
        <img class="castomers-img" src="" alt="" />
        <h4 class="castomers-item-name">Lorem, ipsum.</h4>
        <p class="castomers-item-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          quibusdam perspiciatis consequuntur fuga mollitia iste magnam ad sit
          quis nam.
        </p>
      </li>
      <li class="castomers-item">
        <img class="castomers-img" src="" alt="" />
        <h4 class="castomers-item-name">Lorem, ipsum.</h4>
        <p class="castomers-item-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          quibusdam perspiciatis consequuntur fuga mollitia iste magnam ad sit
          quis nam.
        </p>
      </li>
    </ul>
  </div>
</section>
