<section class="choose">
  <div class="choose-container container">
    <h2 class="choose-title title">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </h2>
    <ul class="choose-list">
      <li class="choose-item">
        <img class="choose-img" src="" alt="" />
        <div class="choose-content">
          <h3 class="choose-content-title">Lorem.</h3>
          <img class="choose-content-img" src="" alt="line" />
          <ul class="choose-content-list">
            <li class="choose-content-item">
              <p class="choose-content-left">Lorem.</p>
              <p class="choose-content-right">Lorem, ipsum.</p>
            </li>
            <li class="choose-content-item">
              <p class="choose-content-left">Lorem.</p>
              <p class="choose-content-right">Lorem, ipsum.</p>
            </li>
            <li class="choose-content-item">
              <p class="choose-content-left">Lorem.</p>
              <p class="choose-content-right">Lorem, ipsum.</p>
            </li>
            <li class="choose-content-item">
              <p class="choose-content-left">Lorem.</p>
              <p class="choose-content-right">Lorem, ipsum.</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="choose-item">
        <img class="choose-img" src="" alt="" />
        <div class="choose-content">
          <h3 class="choose-content-title">Lorem.</h3>
          <img class="choose-content-img" src="" alt="line" />
          <ul class="choose-content-list">
            <li class="choose-content-item">
              <p class="choose-content-left">Lorem.</p>
              <p class="choose-content-right">Lorem, ipsum.</p>
            </li>
            <li class="choose-content-item">
              <p class="choose-content-left">Lorem.</p>
              <p class="choose-content-right">Lorem, ipsum.</p>
            </li>
            <li class="choose-content-item">
              <p class="choose-content-left">Lorem.</p>
              <p class="choose-content-right">Lorem, ipsum.</p>
            </li>
            <li class="choose-content-item">
              <p class="choose-content-left">Lorem.</p>
              <p class="choose-content-right">Lorem, ipsum.</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="choose-item">
        <img class="choose-img" src="" alt="" />
        <div class="choose-content">
          <h3 class="choose-content-title">Lorem.</h3>
          <img class="choose-content-img" src="" alt="line" />
          <ul class="choose-content-list">
            <li class="choose-content-item">
              <p class="choose-content-left">Lorem.</p>
              <p class="choose-content-right">Lorem, ipsum.</p>
            </li>
            <li class="choose-content-item">
              <p class="choose-content-left">Lorem.</p>
              <p class="choose-content-right">Lorem, ipsum.</p>
            </li>
            <li class="choose-content-item">
              <p class="choose-content-left">Lorem.</p>
              <p class="choose-content-right">Lorem, ipsum.</p>
            </li>
            <li class="choose-content-item">
              <p class="choose-content-left">Lorem.</p>
              <p class="choose-content-right">Lorem, ipsum.</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <button class="choose-btn">Lorem.</button>
  </div>
</section>
