<header class="header">
  <div class="header-container container">
    <p class="header-logo logo">Logo</p>
    <nav class="header-nav nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#" class="header-nav-link">about</a>
        </li>
        <li class="header-nav-item">
          <a href="#" class="header-nav-link">Yachts</a>
        </li>
        <li class="header-nav-item">
          <a href="#" class="header-nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
    <div class="header-soc">
      <ul class="header-soc-list soc-list">
        <li class="header-soc-item soc-item">
          <a href="#" class="header-soc-link soc-link">
            <svg class="header-soc-icon soc-icon">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="#" class="header-soc-link">
            <svg class="header-soc-icon">
              <use href=""></use>
            </svg>
          </a>
        </li>
        <li class="header-soc-item">
          <a href="#" class="header-soc-link">
            <svg class="header-soc-icon">
              <use href=""></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
